.trybewarts-header-logo {
  width: 80px;
}

body {
  background-color: rgb(163, 210, 224);
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-radius: 20px;
}

#titulo {
  color: white;
}

header div img {
  width: 70px;
  margin-left: 20px;
}

.formulario {
  margin-right: 20px;
}

input {
  border-radius: 10px;
  border: none;
  color: black;
  outline-color: gray;
}

input:hover {
  background-color: gainsboro;
  outline-color: white;
  transition: 500ms linear; 
}

#btn-submit {
  border-style: ridge;
  background-color: aquamarine;
  border-radius: 20px;
}

#btn-submit:hover {
  color: black;
  background-color: white;
  text-decoration: underline overline aqua;
  transition: 500ms linear; 
  width: 80px;
}
